<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!--
  @File        : mybatis-config.xml
  @Author      : 정재백
  @Since       : 2024-10-29
  @Description : mybatis 설정
  @Site        : https://devlog.ntiple.com
  -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="callSettersOnNulls" value="true"/>
    <setting name="jdbcTypeForNull" value="NULL"/>
  </settings>
  <typeAliases>
    <typeAlias type="com.ntiple.work.cmn.CommonEntity$CamelMap" alias="cmap"/>
    <typeAlias type="com.ntiple.work.cmn.CommonEntity$Code" alias="Code"/>
  </typeAliases>
  <typeHandlers>
    <typeHandler handler="com.ntiple.commons.DbDateHandler" javaType="java.util.Date" jdbcType="DATE"/>
    <typeHandler handler="com.ntiple.commons.DbDateHandler" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
  </typeHandlers>
</configuration>