<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "./dtd/mybatis-3-config.dtd">
<configuration>
  <!--
  @File        : mybatis-config.xml
  @Author      : 정재백
  @Since       : 2024-10-29
  @Description : mybatis 설정
  @Site        : https://devlog.ntiple.com
  -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="callSettersOnNulls" value="true"/>
    <setting name="jdbcTypeForNull" value="NULL"/>
  </settings>
  <typeAliases>
    <!--
    <typeAlias type="com.ntiple.work.cmn01.Cmn01001Entity$CamelMap" alias="cmap"/>
    <typeAlias type="com.ntiple.work.cmn01.Cmn01001Entity$Code" alias="Code"/>
    <typeAlias type="com.ntiple.work.cmn01.Cmn01001Entity$Mngr" alias="Mngr"/>
    <typeAlias type="com.ntiple.work.cmn01.Cmn01001Entity$Menu" alias="Menu"/>
    <typeAlias type="com.ntiple.work.cmn01.Cmn01001Entity$MenuAuthor" alias="MenuAuthor"/>
    <typeAlias type="com.ntiple.work.cmn01.Cmn01001Entity$GroupUser" alias="GroupUser"/>
    <typeAlias type="com.ntiple.work.cmn01.Cmn01001Entity$Group" alias="Group"/>
    -->
  </typeAliases>
  <typeHandlers>
    <typeHandler handler="com.ntiple.system.DbDateHandler" javaType="java.util.Date" jdbcType="DATE"/>
    <typeHandler handler="com.ntiple.system.DbDateHandler" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
  </typeHandlers>
</configuration>