/**
 * @File        : global.scss
 * @Author      : 정재백
 * @Since       : 2024-04-16 
 * @Description : 전역 스타일시트
 * @Site        : https://devlog.ntiple.com
 **/


html#project {
  /** 정확한 포커스 이동 타이밍 등을 계산하기 위한 트랜지션 시간 선언 */
  --modal-fade-transition-time: 0.2s;
  --body-fade-transition-time: 0.2s;
  > body {
    font-family: 'Pretendard';
    transition: opacity var(--body-fade-transition-time) var(--body-fade-transition-time) ease;
    display: block;
    &.hide-onload {
      opacity: 0;
    }

    div.dropdown {
      button.btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &::after {
        }
      }
    }

    span.xmark {
      z-index: 9999;
      opacity: 0;
      transition: all 0.5s ease-in-out;
      > span {
        position: relative;
        width: 2.5rem;
        left: -3rem;
        text-align: right;
        display: block;
        > span {
          cursor:auto;
          /** FIXME: 개발용 임시 */
          &.eye { display: none; }
        }
      }
      &.active {
        opacity: 1;
        > span {
          > span {
            cursor: unset;
          }
        }
      }
    }

    /** bootstrap input group 확장 */
    .input-group {
      > span:nth-child(n + 1),
      > div:nth-child(n + 1) {
        > button,
        > input {
          border-left: 0;
          // border-right: 0;
          border-radius: 0;
        }
      }
      > span:first-child,
      > div:first-child {
        > button,
        > input {
          border-left-width: var(--bs-border-width);
          border-left-style: var(--bs-border-style);
          border-left-color: var(--bs-border-color);
          border-top-left-radius: var(--bs-border-radius);
          border-bottom-left-radius: var(--bs-border-radius);
        }
      }

      > span:last-child,
      > div:last-child {
        > button,
        > input {
          border-right-width: var(--bs-border-width);
          border-right-style: var(--bs-border-style);
          border-top-right-radius: var(--bs-border-radius);
          border-bottom-right-radius: var(--bs-border-radius);
        }
      }
    }

    /** 체크박스 */
    input.form-check-input {
      &[type='checkbox'],
      &[type='radio'] {
        transition: all 0.2s;
      }
    }

    /** [ modal 관련 */
    > .modal.fade {
      transition: all var(--modal-fade-transition-time) ease-out;
      > .modal-dialog {
        transition: all var(--modal-fade-transition-time) ease-out;
        display: flex;
        justify-content: center;
        > .modal-content {
          width: auto;
          min-width: 10rem;
        }
      }
    }
    .modal.com-progress > .modal-dialog > .modal-content {
      background: none;
      border: none;
      text-align: center;
      overflow: visible;
      display: block;
      font-size:large;
      color: #fff;
    }
    .modal.no-tran {
      z-index: 10054;
      > .modal-dialog {
        transition: none !important;
        transform: none !important;
      }
    }
    /** ] modal 관련 */
  }
}