/**
 * @File        : global.scss
 * @Author      : 정재백
 * @Since       : 2024-04-16 
 * @Description : 전역 스타일시트
 * @Site        : https://devlog.ntiple.com
 **/


html#project {
  /** 정확한 포커스 이동 타이밍 등을 계산하기 위한 트랜지션 시간 선언 */
  --modal-fade-transition-time: 0.2s;
  --body-fade-transition-time: 0.2s;
  > body {
    font-family: 'Pretendard';
    transition: opacity var(--body-fade-transition-time) var(--body-fade-transition-time) ease;
    display: block;
    &.hide-onload {
      opacity: 0;
    }

    /** [ modal 관련 */
    > .modal.fade {
      transition: all var(--modal-fade-transition-time) ease-out;
      > .modal-dialog {
        transition: all var(--modal-fade-transition-time) ease-out;
        display: flex;
        justify-content: center;
        > .modal-content {
          width: auto;
          min-width: 10rem;
        }
      }
    }
    .modal.com-progress > .modal-dialog > .modal-content {
      background: none;
      border: none;
      text-align: center;
      overflow: visible;
      display: block;
      font-size:large;
      color: #fff;
    }
    .modal.no-tran {
      z-index: 10054;
      > .modal-dialog {
        transition: none !important;
        transform: none !important;
      }
    }
    /** ] modal 관련 */
  }
}